html,
body {
  position: relative;
  overflow-x: hidden;
}

.hero-img {
  min-height: 50vh !important;
}

.card-topmost {
  margin-bottom: 50px;
  height: 36rem !important;
  width: 25rem !important;
}

.navbar-nav li {
  padding: 10px;
}

.card h4 {
  font-size: 20px !important;
}

.logo {
  font-family: 'raleway';
  font-size: 40px;
  margin-bottom: 30px;
}

.card-img-top {
  height: 250px;
}

.card-title {
  font-family: 'Raleway' !important;
  font-weight: bolder !important;
  font-size: 30px !important;
}

.img-topmost {
  width: 100%;
}

.padding {
  margin: 20px 0px;
}

.card-bottom {
  height: 35rem !important;
  width: 40rem !important;
}

footer {
  background-color: #162838;
  width: 100%;
  height: 500px;
  font-family: 'Raleway';
}

.email-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.email-footer input {
  width: 200px;
  padding: 15px;
  border: 1px solid white;
  background-color: #162838;
  color: white;
}

.email-footer button {
  width: 80px;
  background-color: #e52992;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 10px;
}

.social {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}

.fab {
  padding: 10px;
  font-size: 28px;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.copy h6 {
  font-size: 10px;
}

.hero-img {
  margin-top: -40px !important;
}

.height {
  width: 100% !important;
  height: 20rem !important;
  margin-bottom: 30px;
  border-top: 4px solid maroon;
}

@media (max-width: 767px) {
  .col-sm-12 {
    padding-bottom: 50px !important;
  }

  .card-topmost {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100% !important;
    height: 33rem !important;
  }

  .card-bottom {
    height: 35rem !important;
    width: 80% !important;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .card-img-top {
    height: 230px;
  }

  .height {
    width: 100% !important;
    height: 16rem !important;
    margin-bottom: 30px;
    border-top: 4px solid maroon;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {
  .card-topmost {
    margin-bottom: 50px;
    height: 35rem !important;
    width: 23rem !important;
    padding: 10px !important;
  }
  .card-img-top {
    height: 200px;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  .card-topmost {
    margin-bottom: 50px;
    height: 35rem !important;
    width: 23rem !important;
    margin-left: 10px !important;
  }
  .card-topmost h4 {
    font-size: 15px;
  }
  .card-topmost p {
    font-size: 10px;
  }
}
